apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: quotes
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: homelab
  source:
    repoURL: https://github.com/pabpereza/homelab
    targetRevision: main
    path: kubernetes/quotes
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
